/*@import "styles.css";*/

:root {
    --accent-color: rgba(247, 77, 101, 0.9);
}

/*reset user agent styles*/
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    display: grid;
    margin-inline: 0;
    margin-block: 0;
    font-family: "Montserrat", sans-serif;
}

h1,
h2 {
    font-family: "Dosis", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #3d3d3d;
}

h1 {
    margin-block-end: 0;
}

h2 {
    margin-block-end: 0.75rem;
}

input,
select,
textarea {
    font-family: "Montserrat", sans-serif;
}

nav {
    position: sticky;
    inset-block-start: 0;
    background-color: white;
    display: flex;
    justify-content: center;

    ul {
        display: flex;
        flex-wrap: wrap;
        padding-inline: 0;
        justify-content: center;

        li {
            /* left and right */
            margin-inline: 0.25rem;
            /* top and bottom */
            margin-block: 0;
            line-height: 1.5rem;
            list-style: none;
        }
    }
}

main {
    padding-block: 0;
    margin-block: 0;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    row-gap: 10px;

    > * {
        grid-column: 2;
    }

    @media screen {
        @media (min-width: 768px) {
            grid-template-columns: 25px 1fr 25px;
        }
        @media (min-width: 1200px) {
            grid-template-columns: 1fr 900px 1fr;
        }
    }
}

.full-bleed {
    grid-column: 1 / span 3;
    padding-inline: 2rem;

    @media screen and (width >= 1200px) {
        padding-inline: 15%;
    }
}

.flex-header,
.motto {
    flex-basis: 100%;
}

#about_me {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;

    h2 {
        color: white;
    }

    footer {
        text-align: center;
    }

    aside {
        order: 10;
    }

    @media screen {
        @media (min-width: 768px) {
            justify-items: center;
            text-align: center;
        }
    }
}

#portfolio {
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    /*grid-template-rows: 1fr 1fr;*/
    /*short version*/
    grid-template: repeat(2, 1fr) / repeat(5, 1fr);
    grid-template-areas:
        "portfolio anchor img1 img2 img3"
        "portfolio anchor img4 img5 img6";
    grid-gap: 10px;
    align-items: end;
    background-color: var(--accent-color);
    padding-block: 1rem;

    h2 {
        grid-area: portfolio;
        align-self: start;
        margin-block: 0;
    }

    img {
        max-inline-size: 100%;

        &:hover {
            opacity: 0.7;
            transition: opacity 0.5s;
        }

        &.anchor {
            grid-area: anchor;
            align-self: start;
        }
    }

    @media screen and (max-width: 767.98px) {
        grid-template: 1fr / 1fr 1fr;
        grid-template-areas:
            "portfolio portfolio"
            "anchor img1";
    }
}

#testimonial {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;

    blockquote {
        border-inline: solid 1px black;
        border-block: solid 1px black;
        padding-inline: 0.5rem;
        padding-block: 0.5rem;
        margin-inline: 0;
        margin-block: 0.5rem;

        &.featured {
            order: -1;
            flex: 1 0 auto;
        }
    }

    h2 {
        order: -2;
    }
}

.resume-fieldset {
    border-inline: none;
    border-block: none;
    margin-inline: 0;
    margin-block: 0;
    padding-inline: 0;
    padding-block: 0;

    legend {
        padding-inline: 0;
        padding-block: 0;
    }
}

.label-standard {
    display: block;
    margin-inline: 0.125rem;
    margin-block: 0.125rem;

    &:has(~ input:focus, ~ select:focus, ~ textarea:focus) {
        font-weight: bold;
    }
}

.field {
    margin-block-end: 1.25rem;
}

form:has(input:focus, select:focus, textarea:focus) {
    border-inline-start: solid 2px #ccc;
    padding-inline-start: 1rem;
}

#contact_me h2 {
    &:has(~ form input:focus, ~ form select:focus, ~ form textarea:focus) {
        font-weight: bold;
    }
}

.my-picture {
    max-inline-size: 75px;
    margin-inline-end: 1rem;
}

button {
    background-color: #000000;
    color: white;
    font-family: "Montserrat", sans-serif;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-inline: none;
    border-block: none;

    &:hover {
        background-color: var(--accent-color);
        transition: background-color 0.5s;
    }
}
