/*class selector*/
.resume-list {
    font-style: italic;
}

/*id selector*/
#work_history {
    font-weight: bold;
}

/*combine selectors*/
ul, ol {
    font-style: revert;
}

/*descendant combinator*/
blockquote p {
    font-weight: bold;
}

/*child combinator*/
form > p {
    font-weight: bold;
}

/*next sibling combinator*/
li + li {
    font-weight: bold;
}

/*subsequent siblings combinator*/
/*h2 ~ blockquote {*/
/*    font-style: normal;*/
/*}*/

/*child indexed pseudo classes*/
li:nth-child(2n + 1) {
   color: green;
}

/* typed child indexed pseudo classes*/
#about_me > p:nth-of-type(odd) {
    color: pink;
}

/*user action pseudo classes*/
a:visited {
    color: indianred;
}

a:focus, a:hover {
    color: darkseagreen;
}

input:focus {
    outline: rebeccapurple solid 2px;
}
